.form{
    display: flex;
    max-width: 477px;
    flex-wrap: wrap;
    gap: 17px;

    font-size: 12px;
    line-height: 14px;
}

.form-input{
    width: calc(50% - 31px);
    height: 35px;
    padding: 10px;
    border: 1px solid #D5D4D8;
    border-radius: 5px;
}

.form-button{
    flex: 0 1 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

    cursor: pointer;

    height: 40px;
    border-radius: 5px;
    background-color: #D9AFD9;
    border: 0;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.form-button--icon{
    height: 25px;
}